* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #20203f;
}

#title {
  font-size: 45px;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.set {
  position: absolute;
  width: 650px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  height: 80px;
  width: 80px;
  margin-left: 8px;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 #07070f;
  line-height: 2;
  color: #da0463;
  font-weight: 700;
}
