body {
  background-color: lightblue;
}

.small {
  font-size: 24px;
}

.big {
  font-size: 48px;
}

.container {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn {
  height: 35px;
  width: 90px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: antiquewhite;
  cursor: pointer;
}
